;; shadow-cljs configuration
{:deps {:aliases [:cider-shadow]}

 :dev-http {8080 "docs"}
 :builds
 {:frontend
  {:target :browser
   :output-dir "docs/js"

   :devtools {;;:before-load  qb.app/stop
              ;;:after-load qb.app/init
              }
   :modules {:main {:init-fn qbup.app/init}}}}}
